/*
 * Color scheme: Jellybeans adapted from Jellybeans.vim
 *
 * <body>      background_color = #151515
 * <body>,<h2> text_color = #E8E8D3
 * <h4>        highlight_red = #902020
 * <h1>        highlight_yellow = #FFB964
 * <h5>        highlight_green = #65C254
 * <a>         highlight_blue = #447799
 * <h3>        highlight_violet = #C6B6FE
 * <h6>        highlight_darkblue = #2B5B77
 */

body {
	color: #E8E8D3;
	background-color: #151515;

	font-family: Terminus, Monospace;
	font-size: 18px;
}

a {
	color: #447799;

	text-decoration: none;
}

button {
}

h1, h2, h3, h4, h5, h6 {
	font-size: 18px;

	padding: 0px;
	margin: 0px;
}

h1, h2, h3 {
	font-weight: bold;
}

h1 {
	color: #FFB964;
}

h2 {
	color: #E8E8D3;
}

h3 {
	color: #C6B6FE;
}

h4 {
	color: #902020;
}

h5 {
	color: #65C254;
}

h6 {
	color: #2B5B77;
}
