<head>
<title>{{ .Title }}</title>

<meta charset="utf-8"/>

<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/main.css"/>
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/term/term.css"/>
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/emacs/emacs.css"/>

<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/temp.css"/>

<script type="text/javascript" src="{{ .Site.BaseURL }}/term/term.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}/emacs/emacs.js"></script>
</head>
