<header>
<nav>
	<h1>/www/acm:</h1>
	<ul>
		<!--<li><a href="updates/">updates/</a></li>-->
		<!--<li><a href="calendar/">calendar/</a></li>-->
		<li><a href="https://www.google.com/calendar/embed?src=aeh6j0eubfdc3atqq44g7iigu8%40group.calendar.google.com&ctz=America/New_York" target="_blank">calendar/</a></li>
		<li><a href="{{ .Site.BaseURL }}/">index</a></li>
		<li><a href="{{ .Site.BaseURL }}/contact/">contact</a></li>
		<li><a href="{{ .Site.BaseURL }}/officers/">officers</a></li>
		<li><a href="{{ .Site.BaseURL }}/competitions/">competitions</a></li>
		<li><a href="{{ .Site.BaseURL }}/seminars/">seminars</a></li>
	</ul>
</nav>
<pre is="term">
          ________                                   ___   ________  ___
         / ____/ /__  ____ ___  _________  ____     /   | / ____/  |/  /
        / /   / / _ \/ __ `__ \/ ___/ __ \/ __ \   / /| |/ /   / /|_/ /
       / /___/ /  __/ / / / / (__  ) /_/ / / / /  / ___ / /___/ /  / /
       \____/_/\___/_/ /_/ /_/____/\____/_/ /_/  /_/  |_\____/_/  /_/

cs.clemson.edu (EmacsOS 1.0) <span id="time">13:37</span>

<span id="prompt">acm@cs.clemson.edu ~ $ </span><span id="cursor"></span>
</pre>
</header>
